@model ContatoModel
@{
    ViewData["Title"] = "Criar de Registros";
}
<div class="text-center">

    <h1 class="display-4">Registrar Ponto</h1>

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">
    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder=" Digite aqui seu nome">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="matricula">Matrícula</label>
        <input type="text" asp-for="Matricula" class="form-control" placeholder=" Digite aqui sua matrícula">
        @Html.ValidationMessageFor(x => x.Matricula)
    </div>

    <div class="mb-3">
        <label for="entrada">Entrada</label>
        <input type="DateTime-local" asp-for="Entrada" class="form-control" placeholder=" Registre sua entrada">

    </div>

    <div class="mb-3">
        <label for="saida">Saída</label>
        <input type="DateTime-local" asp-for="Saida" class="form-control" placeholder=" Registre sua saída">

    </div>

    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>